<h1>Service Tickets</h1>

<table class="table table-striped" border='1' cellpadding='10'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Due date</th>
      <th>Completed</th>
      <th>Tool</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.due_date %></td>
        <td><%= service.completed %></td>
        <td><%= service.tool.name + '/' + service.tool.serial %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


