

    <h1>KFD Equipment <%= link_to 'Add Equipment', new_tool_path, :class => 'btn btn-success' %></h1>

    <label for="filter1">Filter</label>
    <input type="text" name="filter1" value="" id="filter1">

    <div id="tools"><%= render 'tools' %></div>



    <br>



