

    <h1>KFD Equipment <%= link_to 'Add Equipment', new_tool_path, :class => 'btn btn-success' %></h1>

    <table width="100%" class="normal" id="searchtable" border="0" cellspacing="4" cellpadding="0" style="display:none;">
      <tr>
        <td width="27%"><input name="search" type="text" id="search" style="display:none;" /></td>
        <td width="73%"><div id="loader" style="display:none;"><img src="../assets/loader.gif" alt="Laoder" /></div></td>
      </tr>
    </table>


    <div id="tools"><%= render 'tools' %></div>



    <br>



