<center><h1>Dashboard</h1></center>

  <% @stations.each do |station| %>
      <p><div class="row">

          <div class="span2">

          <h4><%= "#{station}" %></h4>

            <div class="span10" >
            <% @dashboard[station].each do |tool| %>

                    <% button_link = "#{tool.apparatus}-#{tool.name.singularize} \n #{tool.serial}" %>
                    <%= link_to button_link, tool, :class => (tool.in_service  ? 'btn btn-success btn-large custombutton' : 'btn btn-warning btn-large custombutton') %>

            <% end %>
            </div>

          </div>

      </div>
  <% end %>