

<center><h1>Dashboard</h1></center>
        <% btn_count = 0 %>
        <% @locations.each do |tool_location| %>
          <% /^\d+$/ =~ tool_location ? (app = 'App. ') : (app = '')%>
            <div class="row">
                 <div class="span1 offset1">
                   <%= "#{app}#{tool_location}" %>
                 </div>

                 <div class="span10" >


                    <% @dashboard[tool_location].each_slice(5) do |five_tools| %>
                       <div class="row">
                       <% five_tools.each do |tool| %>

                            <% button_link = "#{tool.location}-#{tool.name.singularize}"+"\n"+" #{tool.serial}" %>
                             <% btn_color = tool.in_service  ? 'btn-success' : 'btn-warning' %>
                             <%= link_to button_link,  tool_path(tool.id), :class => "btn custombutton #{btn_color}",  :id => "btn#{btn_count}" %>

                           <% btn_count += 1 %>

                       <% end %>
                         <p></p>
                       </div>
                    <% end %>

                   <hr class="style-eight">

                 </div>
          </div>
        <% end %>


