<center><h1>Dashboard</h1></center>

  <% @stations.each do |station| %>
      <p><div class="row">

          <div class="span12">

          <%= "#{station}" %>
            <% @dashboard[station].each do |tool| %>

                <%= link_to "#{tool.apparatus}-#{tool.name.chop}", tool, :class => 'btn btn-small' %>

            <% end %>

          </div>

      </div>
  <% end %>