<center><h1>Dashboard</h1></center>

  <% @stations.each do |station| %>
      <p><div class="row">

          <div class="span12">

          <%= "#{station}" %>
            <% @dashboard[station].each do |tool| %>
                <% button_link = "#{tool.apparatus}-#{tool.name.chop} \n #{tool.serial}" %>
                <%= link_to button_link, tool, :class => (tool.in_service  ? 'btn btn-success btn-large custombutton btnspace' : 'btn btn-warning btn-large custombutton btnspace') %>

            <% end %>

          </div>

      </div>
  <% end %>