<h1>Scan Parts Into Inventory</h1>

<div class="row">

  <div class="span5 offset1">

    <p>Part to add:</p>
     <form>
       <%= text_field_tag 'part'%>
     </form>

   <i> To enter parts manually use the [ARROW DOWN] key, the [ENTER] key is disabled on this page</i>

    <br>
    <br>
    <div class="well well-small ">
        <ul id="part_list" >
            <li><strong>Parts Added To Inventory</strong></li>
        </ul>
    </div>
    </div>

  <div class="span5">
    <div class="well well-small ">
    <ul id="unknownSku">
       <li><strong>Unrecognized SKUs</strong></li>
    </ul>
    </div>
  </div>

 </div>