<h1>Scan Parts Into Inventory</h1>

<div class="row">

  <div class="span4 offset1">

    <p>Part to add:</p>
     <form>
       <input type="text" id="part" >

     </form>





        <div class="span4">
        <ul id="part_list" >

        </ul>
        </div>


    </div>
 </div>

<script>

    var parts = [];
    var partList = $("#part_list");
    $("#part").keydown(function(e) {
        if(e.keyCode === 40) {
            var sku = $('#part').val();
            parts.push(sku);
            $('#part_list').append("<li>" + sku + "</li>");
            $("#part").val('');
        }

    });



</script>