<h1>Scan Parts Into Inventory</h1>

<div class="row">

  <div class="span6 offset1">

    <p>Part to add:</p>
     <form>
       <input type="text" id="part" >
     </form>

   <i> To enter parts manually use the [ARROW DOWN] key, the [ENTER] key is disabled on this page</i>

    <br>
    <br>
        <ul id="part_list" >
            <li><strong>Parts Added To Inventory</strong></li>
        </ul>

    </div>

  <div class="span5">
    <ul id="unknownSku">
       <li><strong>Unrecognized SKUs</strong></li>
    </ul>

  </div>

 </div>