<h1>Scan Parts Into Inventory</h1>

<div class="row">

  <div class="span4 offset1">

    <p>List of parts, one per line:</p>

    <p><textarea rows=40 id="parts_list">￼</textarea></p>

  </div>
  <div class="span4">



  </div>

</div>

<script>
    $('#parts_list').keydown(function(e) {
        if(e.keyCode === 40) { // arrow-down was pressed
            // get caret position/selection
            var start = this.selectionStart;
            var end = this.selectionEnd;

            var $this = $(this);
            var value = $this.val();

            // set textarea value to: text before caret + tab + text after caret
            $this.val(value.substring(0, start)
                    + "\n"
                    + value.substring(end));

            // put caret at right position again (add one for the tab)
            this.selectionStart = this.selectionEnd = start + 1;

            // prevent the focus lose
            e.preventDefault();
        }
    });
</script>

