
<div class="row">
  <div class="span12 text-center">
    <h1><%= @loc.type = 'Vehicle' ? 'App. ' + @loc.name : @loc.name %> Swap Equipment</h1>
    <br>
    <br>
  </div>
</div>

<%= render 'form' %>
