
th {
  color: #E6E6E6;
  background-color: rgb(221, 72, 20);
}

/* add hover effect for table rows */
 td.hovered {
  background-color: rgb(255, 255, 244);
}


th.sortable {
  color: #E6E6E6;
  cursor: pointer;
  padding-right: 23px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('bg.gif');
}

th.sortable.sorted-asc,
th.sortable.sorted-desc  {
  color: white;
  background-color: rgb(255, 83, 24);
}

th.sortable.sorted-asc {
  background-image: url('asc.gif');
}

th.sortable.sorted-desc {
  background-image: url('desc.gif');
}


th.sortable:hover {
  color: black;
  background-color: rgb(255, 160, 90);
  text-decoration: underline;
}

.odd {background:lightgray}
.even {background:whitesmoke}