
    <h1>Drop Down Menu Settings</h1>
    <div id='important_red'><p>Think before adding to these!</p></div>



    <% @dropdown.each do |key, value| %>
      <div class='span3'>
        <h3><%= key.to_s.upcase %>:</h3>
        <p>
          <% value.each do |dropdown| %>
            <p><%= dropdown.to_s.upcase %></p>
          <% end %>
        <%= render "#{key.to_s}" %>
        </div>
    <% end %>
