<div id="reports" role="search">
  <div class="container-fluid">
    <div class="content">

      <div class="row">
          <div class="span3">
            <ul>
              <li>Parts used to date</li>
              <li>Equipment Type</li>
              <li>Serial #</li>
            </ul>
          </div>
          <div class="span9">
              Yield Search Results Partial
          </div>
      </div>

    </div>
  </div>
</div>